{{- if and .Values.samba.users (not .Values.samba.existingSecretName) }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "samba.fullname" . }}
  labels:
    {{- include "samba.labels" . | nindent 4 }}
stringData:
{{- range $index, $user := .Values.samba.users }}
  {{- with $user }}
  USER{{ $index }}: {{ printf "%s;%s;%v;%s;%v" .username .password (default "" .id) (default "" .group) (default "" .gid) | quote }}
  {{- end }}
{{- end }}
{{- end -}}
