name: Release Charts

on:
  push:
    branches:
      - master

jobs:
  gh-pages:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: '0'

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"
      - name: Prepare charts
        run: make prepare
      - name: Run chart-releaser
        uses: helm/chart-releaser-action@v1.4.0
        env:
          CR_TOKEN: "${{ secrets.RELEASE_PAT }}"

  readme:
    runs-on: ubuntu-latest
    needs:
      - gh-pages
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: '0'
      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      - name: Generate Chart documentation
        run: make docs

      - name: Update documentation for gh-pages
        run: .github/gh-pages-readme.sh
        env:
          CR_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
          REPOSITORY: ${{ github.repository }}
